############################################################################
# XEM7350 - Xilinx constraints file
#
# Pin mappings for the XEM7350-K70T.  Use this as a template and comment out 
# the pins that are not used in your design.  (By default, map will fail
# if this file contains constraints for signals not in your design).
#
# Copyright (c) 2004-2013 Opal Kelly Incorporated
# $Rev: 10 $ $Date: 2014-05-03 14:30:14 -0700 (Sat, 03 May 2014) $
############################################################################
NET "okUH[0]" TNM_NET = "okHostClk";
TIMESPEC "TS_okHostClk" = PERIOD "okHostClk" 9.92 ns HIGH 50%;

NET "okUHU[*]" TNM = "okHostINOUT_grp";
TIMEGRP "okHostINOUT_grp" OFFSET = IN 2 ns VALID 4 ns BEFORE "okUH[0]" RISING;
TIMEGRP "okHostINOUT_grp" OFFSET = OUT 8 ns AFTER "okUH[0]" RISING;

NET "okHU[2]" TNM = "okHostOUT_grp";
NET "okHU[0]" TNM = "okHostOUT_grp";
NET "okHU[1]" TNM = "okHostOUT_grp";
TIMEGRP "okHostOUT_grp" OFFSET = OUT 8 ns AFTER "okUH[0]" RISING;

NET "okUH[4]"   TNM = "okHostIN_grp";
NET "okUH[3]"   TNM = "okHostIN_grp";
NET "okUH[2]"   TNM = "okHostIN_grp";
NET "okUH[1]"   TNM = "okHostIN_grp";
TIMEGRP "okHostIN_grp" OFFSET = IN 2 ns VALID 12 ns BEFORE "okUH[0]" RISING;

############################################################################
## System Clocks                                                        
############################################################################
NET "sys_clkp"       LOC=AC4      | IOSTANDARD=LVDS;
NET "sys_clkn"       LOC=AC3      | IOSTANDARD=LVDS;

NET "sys_clkp" TNM_NET = "okSysClk";
TIMESPEC "TS_okSysClk" = PERIOD "okSysClk" 5 ns HIGH 50%;

NET "clk" TNM_NET = "ui_clk";
TIMESPEC "TS_ui_clk" = PERIOD "ui_clk" 10 ns HIGH 50%;

############################################################################
## User Reset                                                        
############################################################################
#NET "reset"          LOC="G22"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";

############################################################################
## FrontPanel Host Interface
############################################################################
NET "okHU[0]"        LOC="F23"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okHU[1]"        LOC="H23"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okHU[2]"        LOC="J25"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";

NET "okUH[0]"        LOC="F22"    | IOSTANDARD="LVCMOS18";
NET "okUH[1]"        LOC="G24"    | IOSTANDARD="LVCMOS18";
NET "okUH[2]"        LOC="J26"    | IOSTANDARD="LVCMOS18";
NET "okUH[3]"        LOC="G26"    | IOSTANDARD="LVCMOS18";
NET "okUH[4]"        LOC="C23"    | IOSTANDARD="LVCMOS18";

NET "okUHU<0>"       LOC="B21"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<1>"       LOC="C21"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<2>"       LOC="E22"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<3>"       LOC="A20"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<4>"       LOC="B20"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<5>"       LOC="C22"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<6>"       LOC="D21"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<7>"       LOC="C24"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<8>"       LOC="C26"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<9>"       LOC="D26"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<10>"      LOC="A24"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<11>"      LOC="A23"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<12>"      LOC="A22"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<13>"      LOC="B22"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<14>"      LOC="A25"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<15>"      LOC="B24"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<16>"      LOC="G21"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<17>"      LOC="E23"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<18>"      LOC="E21"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<19>"      LOC="H22"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<20>"      LOC="D23"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<21>"      LOC="J21"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<22>"      LOC="K22"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<23>"      LOC="D24"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<24>"      LOC="K23"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<25>"      LOC="H24"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<26>"      LOC="F24"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<27>"      LOC="D25"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<28>"      LOC="J24"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<29>"      LOC="B26"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<30>"      LOC="H26"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<31>"      LOC="E26"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";

NET "okAA"           LOC="R26"    | IOSTANDARD="LVCMOS33";

############################################################################
## Peripherals
############################################################################

# LEDs #####################################################################
NET "led<0>"           LOC="T24" | IOSTANDARD="LVCMOS33";
NET "led<1>"           LOC="T25" | IOSTANDARD="LVCMOS33";
NET "led<2>"           LOC="R25" | IOSTANDARD="LVCMOS33";
NET "led<3>"           LOC="P26" | IOSTANDARD="LVCMOS33";

# DRAM #####################################################################
NET   "ddr3_dq[0]"    LOC = "AD1"     |   IOSTANDARD = SSTL15_T_DCI         |     SLEW = FAST; # Bank: 34 - Byte: T3
NET   "ddr3_dq[1]"    LOC = "AE1"     |   IOSTANDARD = SSTL15_T_DCI         |     SLEW = FAST; # Bank: 34 - Byte: T3
NET   "ddr3_dq[2]"    LOC = "AE3"     |   IOSTANDARD = SSTL15_T_DCI         |     SLEW = FAST; # Bank: 34 - Byte: T3
NET   "ddr3_dq[3]"    LOC = "AE2"     |   IOSTANDARD = SSTL15_T_DCI         |     SLEW = FAST; # Bank: 34 - Byte: T3
NET   "ddr3_dq[4]"    LOC = "AE6"     |   IOSTANDARD = SSTL15_T_DCI         |     SLEW = FAST; # Bank: 34 - Byte: T3
NET   "ddr3_dq[5]"    LOC = "AE5"     |   IOSTANDARD = SSTL15_T_DCI         |     SLEW = FAST; # Bank: 34 - Byte: T3
NET   "ddr3_dq[6]"    LOC = "AF3"     |   IOSTANDARD = SSTL15_T_DCI         |     SLEW = FAST; # Bank: 34 - Byte: T3
NET   "ddr3_dq[7]"    LOC = "AF2"     |   IOSTANDARD = SSTL15_T_DCI         |     SLEW = FAST; # Bank: 34 - Byte: T3
NET   "ddr3_dq[8]"    LOC = "W11"     |   IOSTANDARD = SSTL15_T_DCI         |     SLEW = FAST; # Bank: 33 - Byte: T0
NET   "ddr3_dq[9]"    LOC = "V8"      |   IOSTANDARD = SSTL15_T_DCI         |     SLEW = FAST; # Bank: 33 - Byte: T0
NET   "ddr3_dq[10]"   LOC = "V7"      |   IOSTANDARD = SSTL15_T_DCI         |     SLEW = FAST; # Bank: 33 - Byte: T0
NET   "ddr3_dq[11]"   LOC = "Y8"      |   IOSTANDARD = SSTL15_T_DCI         |     SLEW = FAST; # Bank: 33 - Byte: T0
NET   "ddr3_dq[12]"   LOC = "Y7"      |   IOSTANDARD = SSTL15_T_DCI         |     SLEW = FAST; # Bank: 33 - Byte: T0
NET   "ddr3_dq[13]"   LOC = "Y11"     |   IOSTANDARD = SSTL15_T_DCI         |     SLEW = FAST; # Bank: 33 - Byte: T0
NET   "ddr3_dq[14]"   LOC = "Y10"     |   IOSTANDARD = SSTL15_T_DCI         |     SLEW = FAST; # Bank: 33 - Byte: T0
NET   "ddr3_dq[15]"   LOC = "V9"      |   IOSTANDARD = SSTL15_T_DCI         |     SLEW = FAST; # Bank: 33 - Byte: T0
NET   "ddr3_addr[14]" LOC = "U6"      |   IOSTANDARD = SSTL15               |     SLEW = FAST; # Bank: 34 - Byte: T0
NET   "ddr3_addr[13]" LOC = "U5"      |   IOSTANDARD = SSTL15               |     SLEW = FAST; # Bank: 34 - Byte: T0
NET   "ddr3_addr[12]" LOC = "U2"      |   IOSTANDARD = SSTL15               |     SLEW = FAST; # Bank: 34 - Byte: T0
NET   "ddr3_addr[11]" LOC = "U1"      |   IOSTANDARD = SSTL15               |     SLEW = FAST; # Bank: 34 - Byte: T0
NET   "ddr3_addr[10]" LOC = "V3"      |   IOSTANDARD = SSTL15               |     SLEW = FAST; # Bank: 34 - Byte: T0
NET   "ddr3_addr[9]"  LOC = "W3"      |   IOSTANDARD = SSTL15               |     SLEW = FAST; # Bank: 34 - Byte: T0
NET   "ddr3_addr[8]"  LOC = "U7"      |   IOSTANDARD = SSTL15               |     SLEW = FAST; # Bank: 34 - Byte: T0
NET   "ddr3_addr[7]"  LOC = "V6"      |   IOSTANDARD = SSTL15               |     SLEW = FAST; # Bank: 34 - Byte: T0
NET   "ddr3_addr[6]"  LOC = "V4"      |   IOSTANDARD = SSTL15               |     SLEW = FAST; # Bank: 34 - Byte: T0
NET   "ddr3_addr[5]"  LOC = "Y3"      |   IOSTANDARD = SSTL15               |     SLEW = FAST; # Bank: 34 - Byte: T1
NET   "ddr3_addr[4]"  LOC = "Y2"      |   IOSTANDARD = SSTL15               |     SLEW = FAST; # Bank: 34 - Byte: T1
NET   "ddr3_addr[3]"  LOC = "V2"      |   IOSTANDARD = SSTL15               |     SLEW = FAST; # Bank: 34 - Byte: T1
NET   "ddr3_addr[2]"  LOC = "V1"      |   IOSTANDARD = SSTL15               |     SLEW = FAST; # Bank: 34 - Byte: T1
NET   "ddr3_addr[1]"  LOC = "AB1"     |   IOSTANDARD = SSTL15               |     SLEW = FAST; # Bank: 34 - Byte: T1
NET   "ddr3_addr[0]"  LOC = "AC1"     |   IOSTANDARD = SSTL15               |     SLEW = FAST; # Bank: 34 - Byte: T1
NET   "ddr3_ba[2]"    LOC = "W1"      |   IOSTANDARD = SSTL15               |     SLEW = FAST; # Bank: 34 - Byte: T1
NET   "ddr3_ba[1]"    LOC = "Y1"      |   IOSTANDARD = SSTL15               |     SLEW = FAST; # Bank: 34 - Byte: T1
NET   "ddr3_ba[0]"    LOC = "AB2"     |   IOSTANDARD = SSTL15               |     SLEW = FAST; # Bank: 34 - Byte: T1
NET   "ddr3_ras_n"    LOC = "AC2"     |   IOSTANDARD = SSTL15               |     SLEW = FAST; # Bank: 34 - Byte: T1
NET   "ddr3_cas_n"    LOC = "AA3"     |   IOSTANDARD = SSTL15               |     SLEW = FAST; # Bank: 34 - Byte: T1
NET   "ddr3_we_n"     LOC = "AA2"     |   IOSTANDARD = SSTL15               |     SLEW = FAST; # Bank: 34 - Byte: T1
NET   "ddr3_reset_n"  LOC = "AA4"     |   IOSTANDARD = LVCMOS15             |     SLEW = FAST; # Bank: 34 - Byte: T2
NET   "ddr3_cke[0]"   LOC = "AB5"     |   IOSTANDARD = SSTL15               |     SLEW = FAST; # Bank: 34 - Byte: T2
NET   "ddr3_odt[0]"   LOC = "AB6"     |   IOSTANDARD = SSTL15               |     SLEW = FAST; # Bank: 34 - Byte: T2
NET   "ddr3_cs_n[0]"  LOC = "AA5"     |   IOSTANDARD = SSTL15               |     SLEW = FAST; # Bank: 34 - Byte: T2
NET   "ddr3_dm[0]"    LOC = "AD4"     |   IOSTANDARD = SSTL15               |     SLEW = FAST; # Bank: 34 - Byte: T3
NET   "ddr3_dm[1]"    LOC = "V11"     |   IOSTANDARD = SSTL15               |     SLEW = FAST; # Bank: 33 - Byte: T0
#NET   "sys_clk_p"     LOC = "AC4"     |   IOSTANDARD = DIFF_SSTL15;                            # Bank: 34 - Byte: 
#NET   "sys_clk_n"     LOC = "AC3"     |   IOSTANDARD = DIFF_SSTL15;                            # Bank: 34 - Byte: 
NET   "ddr3_dqs_p[0]" LOC = "AF5"     |   IOSTANDARD = DIFF_SSTL15_T_DCI    |     SLEW = FAST; # Bank: 34 - Byte: T3
NET   "ddr3_dqs_n[0]" LOC = "AF4"     |   IOSTANDARD = DIFF_SSTL15_T_DCI    |     SLEW = FAST; # Bank: 34 - Byte: T3
NET   "ddr3_dqs_p[1]" LOC = "W10"     |   IOSTANDARD = DIFF_SSTL15_T_DCI    |     SLEW = FAST; # Bank: 33 - Byte: T0
NET   "ddr3_dqs_n[1]" LOC = "W9"      |   IOSTANDARD = DIFF_SSTL15_T_DCI    |     SLEW = FAST; # Bank: 33 - Byte: T0
NET   "ddr3_ck_p[0]"  LOC = "W6"      |   IOSTANDARD = DIFF_SSTL15          |     SLEW = FAST; # Bank: 34 - Byte: T0
NET   "ddr3_ck_n[0]"  LOC = "W5"      |   IOSTANDARD = DIFF_SSTL15          |     SLEW = FAST; # Bank: 34 - Byte: T0

INST "*/ddr_phy_4lanes_1.u_ddr_phy_4lanes/ddr_byte_lane_D.ddr_byte_lane_D/phaser_out" LOC=PHASER_OUT_PHY_X1Y7;
INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_D.ddr_byte_lane_D/phaser_out" LOC=PHASER_OUT_PHY_X1Y11;
INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_C.ddr_byte_lane_C/phaser_out" LOC=PHASER_OUT_PHY_X1Y10;
INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_B.ddr_byte_lane_B/phaser_out" LOC=PHASER_OUT_PHY_X1Y9;
INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_A.ddr_byte_lane_A/phaser_out" LOC=PHASER_OUT_PHY_X1Y8;

INST "*/ddr_phy_4lanes_1.u_ddr_phy_4lanes/ddr_byte_lane_D.ddr_byte_lane_D/phaser_in_gen.phaser_in" LOC=PHASER_IN_PHY_X1Y7;
## INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_D.ddr_byte_lane_D/phaser_in_gen.phaser_in" LOC=PHASER_IN_PHY_X1Y11;
## INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_C.ddr_byte_lane_C/phaser_in_gen.phaser_in" LOC=PHASER_IN_PHY_X1Y10;
## INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_B.ddr_byte_lane_B/phaser_in_gen.phaser_in" LOC=PHASER_IN_PHY_X1Y9;
INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_A.ddr_byte_lane_A/phaser_in_gen.phaser_in" LOC=PHASER_IN_PHY_X1Y8;



INST "*/ddr_phy_4lanes_1.u_ddr_phy_4lanes/ddr_byte_lane_D.ddr_byte_lane_D/out_fifo" LOC=OUT_FIFO_X1Y7;
INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_D.ddr_byte_lane_D/out_fifo" LOC=OUT_FIFO_X1Y11;
INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_C.ddr_byte_lane_C/out_fifo" LOC=OUT_FIFO_X1Y10;
INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_B.ddr_byte_lane_B/out_fifo" LOC=OUT_FIFO_X1Y9;
INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_A.ddr_byte_lane_A/out_fifo" LOC=OUT_FIFO_X1Y8;

INST "*/ddr_phy_4lanes_1.u_ddr_phy_4lanes/ddr_byte_lane_D.ddr_byte_lane_D/in_fifo_gen.in_fifo" LOC=IN_FIFO_X1Y7;
INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_A.ddr_byte_lane_A/in_fifo_gen.in_fifo" LOC=IN_FIFO_X1Y8;

INST "*/ddr_phy_4lanes_1.u_ddr_phy_4lanes/phy_control_i" LOC=PHY_CONTROL_X1Y1;
INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/phy_control_i" LOC=PHY_CONTROL_X1Y2;

INST "*/ddr_phy_4lanes_1.u_ddr_phy_4lanes/phaser_ref_i" LOC=PHASER_REF_X1Y1;
INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/phaser_ref_i" LOC=PHASER_REF_X1Y2;


INST "*/ddr_phy_4lanes_1.u_ddr_phy_4lanes/ddr_byte_lane_D.ddr_byte_lane_D/ddr_byte_group_io/*slave_ts" LOC=OLOGIC_X1Y93;
INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_A.ddr_byte_lane_A/ddr_byte_group_io/*slave_ts" LOC=OLOGIC_X1Y107;

INST "*/u_ddr3_infrastructure/plle2_i" LOC=PLLE2_ADV_X1Y2;
INST "*/u_ddr3_infrastructure/gen_mmcm.mmcm_i" LOC=MMCME2_ADV_X1Y2;


NET "*/iserdes_clk" TNM_NET = "TNM_ISERDES_CLK";
INST "*/mc0/mc_read_idle_r" TNM = "TNM_SOURCE_IDLE";
INST "*/input_[?].iserdes_dq_.iserdesdq" TNM = "TNM_DEST_ISERDES";
TIMESPEC "TS_ISERDES_CLOCK" = PERIOD "TNM_ISERDES_CLK" 2500 ps;
TIMESPEC TS_MULTICYCLEPATH = FROM "TNM_SOURCE_IDLE" TO "TNM_DEST_ISERDES" TS_ISERDES_CLOCK*6;
          

INST "*/device_temp_sync_r1*" TNM="TNM_MULTICYCLEPATH_DEVICE_TEMP_SYNC";
TIMESPEC "TS_MULTICYCLEPATH_DEVICE_TEMP_SYNC" = TO "TNM_MULTICYCLEPATH_DEVICE_TEMP_SYNC" 20 ns DATAPATHONLY;

#bank 16
#####################################################################
# FROM NG_LARGE #####################################################################
#####################################################################

#NET "clk_science"		LOC="E11" | IOSTANDARD="LVCMOS25";	#o_clk_science	L14P_SRCC_16
#NET	"i_science_ctrl"	LOC="E10" | IOSTANDARD="LVCMOS25";	#o_science_ctrl

#NET "i_science_data<0>"	LOC="G11" | IOSTANDARD="LVCMOS25";	#o_c0_science_data[0]
#NET "i_science_data<1>"	LOC="J15" | IOSTANDARD="LVCMOS25";	#o_c0_science_data[1]
#NET "i_science_data<2>"	LOC="L19" | IOSTANDARD="LVCMOS25";	#o_c1_science_data[0]
#NET "i_science_data<3>"	LOC="H16" | IOSTANDARD="LVCMOS25";	#o_c1_science_data[1]
#NET "i_science_data<4>"	LOC="F17" | IOSTANDARD="LVCMOS25";	#o_c2_science_data[0]
#NET "i_science_data<5>"	LOC="W25" | IOSTANDARD="LVCMOS25";	#o_c2_science_data[1]
#NET "i_science_data<6>"	LOC="B17" | IOSTANDARD="LVCMOS25";	#o_c3_science_data[0]	
#NET "i_science_data<7>"	LOC="C19" | IOSTANDARD="LVCMOS25";	#o_c3_science_data[1]

#####################################################################
# loop opal  #########################################################
#####################################################################

#NET "clk_ng_large_out"	LOC="B17" | IOSTANDARD="LVCMOS25";	
#NET "o_science_data_ser<0>"	LOC="C16" | IOSTANDARD="LVCMOS25";	
#NET "o_science_data_ser<1>"	LOC="H19" | IOSTANDARD="LVCMOS25";	
#NET "o_science_data_ser<2>"	LOC="E15" | IOSTANDARD="LVCMOS25";	
#NET "o_science_data_ser<3>"	LOC="H16" | IOSTANDARD="LVCMOS25";	
#NET "o_science_data_ser<4>"	LOC="K16" | IOSTANDARD="LVCMOS25";	
#NET "o_science_data_ser<5>"	LOC="A9" | IOSTANDARD="LVCMOS25";	
#NET "o_science_data_ser<6>"	LOC="E10" | IOSTANDARD="LVCMOS25";	
#NET "o_science_data_ser<7>"	LOC="F17" | IOSTANDARD="LVCMOS25";
#NET "o_science_data_ser<8>"	LOC="M17" | IOSTANDARD="LVCMOS25";

NET "clk_science_p"		LOC="E11" | IOSTANDARD="LVDS_25";	#o_clk_science	L14P_SRCC_16
NET "clk_science_n"		LOC="D11" | IOSTANDARD="LVDS_25";
NET "i_science_ctrl_p"	LOC="E10" | IOSTANDARD="LVDS_25";	#o_science_ctrl
NET "i_science_ctrl_n"	LOC="D10" | IOSTANDARD="LVDS_25";

NET "i_science_data_p<0>"	LOC="G11" | IOSTANDARD="LVDS_25";	#o_c0_science_data[0]
NET "i_science_data_n<0>"	LOC="F10" | IOSTANDARD="LVDS_25";
NET "i_science_data_p<1>"	LOC="J15" | IOSTANDARD="LVDS_25";	#o_c0_science_data[1]
NET "i_science_data_n<1>"	LOC="J16" | IOSTANDARD="LVDS_25";
NET "i_science_data_p<2>"	LOC="L19" | IOSTANDARD="LVDS_25";	#o_c1_science_data[0]
NET "i_science_data_n<2>"	LOC="L20" | IOSTANDARD="LVDS_25";
NET "i_science_data_p<3>"	LOC="H16" | IOSTANDARD="LVDS_25";	#o_c1_science_data[1]
NET "i_science_data_n<3>"	LOC="G16" | IOSTANDARD="LVDS_25";
NET "i_science_data_p<4>"	LOC="F17" | IOSTANDARD="LVDS_25";	#o_c2_science_data[0]
NET "i_science_data_n<4>"	LOC="E17" | IOSTANDARD="LVDS_25";
NET "i_science_data_p<5>"	LOC="W25" | IOSTANDARD="LVDS_25";	#o_c2_science_data[1]
NET "i_science_data_n<5>"	LOC="W26" | IOSTANDARD="LVDS_25";
NET "i_science_data_p<6>"	LOC="B17" | IOSTANDARD="LVDS_25";	#o_c3_science_data[0]	
NET "i_science_data_n<6>"	LOC="A17" | IOSTANDARD="LVDS_25";
NET "i_science_data_p<7>"	LOC="C19" | IOSTANDARD="LVDS_25";	#o_c3_science_data[1]
NET "i_science_data_n<7>"	LOC="B19" | IOSTANDARD="LVDS_25";

NET "i_miso"	LOC="H8" | IOSTANDARD="LVCMOS25";	
NET "o_mosi"	LOC="H9" | IOSTANDARD="LVCMOS25";	
NET "o_sclk"	LOC="F8" | IOSTANDARD="LVCMOS25";		
NET "o_sync_n"	LOC="F9" | IOSTANDARD="LVCMOS25";	

  